<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="park.haneol.project.logger">

    <!--오토백업 일단 true 설정 TODO: 관련 내용 공부-->
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <!--싱글인스턴스, 스테이트비저블
            android:screenOrientation="portrait"-->
        <!-- todo: portrait -> default -->
        <activity
            android:name=".component.MainActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateVisible"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="myar.tistory.com" android:scheme="http" />
            </intent-filter>
        </activity>

        <!--공유 이벤트시 실행 액티비티-->
        <activity
            android:name=".component.ShareActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
